<%- include('./partials/head.ejs') %> <%- include('./partials/flash.ejs') %>
<div class="searchList">
  <ul class="list-group list-group-light">
    <% lnmerch.forEach((lightning) => { %>
    <li class="list-group-item align-items-center">
      <div class="d-flex align-items-center justify-content-between">
      <img
        src="<%= lightning.image %>"
        style="width: 55px; height: 55px"
        class="rounded-circle"/>
      <div class="ms-3">
        <a href= "/merchants/all/<%= lightning._id %>"> <%= lightning.name %>
        </a>
      </div>

      <a class="btn btn-link btn-rounded btn-sm" href="/merchants/all/<%= lightning._id %>" role="button">
        <%= lightning.address.city%></a>
        
      <!-- <div class="edit">
      <a href="/merchants/<%= lightning._id %>/edit">
        <img src="/images/edit.png" />
      </a>
      <a href="/merchants/<%= lightning._id %>/delete">
        <img src="/images/bin.png" />
      </a>
    </div> -->
    </li>
    <% }) %>
  </ul>
</div>

<%- include('./partials/foot.ejs') %>

<!-- https://mdbootstrap.com/docs/standard/components/list-group/  -->
