<%- include('./partials/head.ejs') %>

<div class="showListing">    
    <h1><%= showMerchant.name %></h1>
    <h3><%= showMerchant.website %></h3>
    <img src="<%= showMerchant.image %>" />
    <br />
    Accepts on-chain: <%= showMerchant.onChain %>
    <br />
    Discount offered for LN payments: <%= showMerchant.discount %>
    <br />

    Description: <%= showMerchant.description %>
    <br />
    Address: <%= showMerchant.address.street %>
    <br />
    Business Type: <%= showMerchant.type %>
    <br />
    <div class="anchor">
        <a href="/merchants">Back to search</a>
    </div>
    <br />
</showListing>

<%- include('./partials/foot.ejs') %>
