<%- include('./partials/head.ejs') %>

  <h1>
    <%= showMerchant.website %>
      <%= showMerchant.name %>
  </h1>

  <img src="<%= showMerchant.image %>" />
  
  <p><%= showMerchant.description %></p>


  <%- include('./partials/foot.ejs') %>
